html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: rgba(246, 247, 248, 1);
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter/Inter-VariableFont_opsz,wght.ttf");
}

a {
  text-decoration: none;
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 16px;
  padding: 4px;
}

footer {
  min-height: 16px;
  width: auto;
}

footer a {
  text-decoration: none;
  color: rgba(168, 168, 168, 1) !important;
  transform: scale(1);
  cursor: pointer;
}

footer a:hover {
  color: rgb(41, 171, 226) !important;
}

.start-content {
  display: flex;
  height: 100%;
}

.sidebar-container {
  flex-shrink: 0;
}

.right-side-content {
  margin-top: 96px;
  width: 100%;
  max-width: 1670px; /* 1920px Gesamtbreite minus ~250px Sidebar */
  margin-left: auto;
  margin-right: auto;
  padding: 64px 96px 64px 340px;
  box-sizing: border-box;
}

.right-side-content h2 {
  color: #333;
}

.right-side-content a {
  color: rgba(85, 169, 221, 1);
  font-weight: 600;
}

.right-side-content a:hover {
  color: rgba(0,0,0, 0.6);
}

.d-none {
  display: none !important;
}

#add_task_frame {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .right-side-content {
    width: 100vw;
    padding: 64px 64px 64px 64px;
  }
}

@media (max-width: 620px) {
  .right-side-content {
    width: 100vw;
    padding: 40px 24px 40px 24px;
  }
}
