header {
  position: fixed;
  top: 0;
  height: 96px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(42, 54, 71, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(42, 54, 71, 0.1);
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  z-index: 500;
}

.header-inner {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 348px;
}

.right-header-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.right-header-elements a {
  margin-top: 8px;
}

.help-button {
  cursor: pointer;
  height: 20px;
  transition: transform 100ms ease-in-out;
}

.help-button:hover {
  transform: scale(1.1);
}

.user-initials {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border: 2px solid rgba(41, 53, 73, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: rgba(41, 171, 226, 1);
  transition: background-color 100ms ease-in-out;
}

.user-initials:hover {
  background-color: rgba(226, 230, 237, 1);
}

.user-menu-container {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(100% + 30px);
  right: -33px;
  width: 160px;
  background: #2a3647;
  border-radius:24px 0px 24px 24px;
  box-shadow:  -2px 2px 6px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(168, 168, 168, 0.4);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.user-menu-container:hover .user-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.logout-container,
.dropdown-links a {
  font-size: 16px;
  margin: 0;
  color: rgba(168, 168, 168, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: font-weight 100ms ease-in-out,
              color 100ms ease-in-out,
              margin-left 100ms ease-in-out; 
}

.logout-container:hover,
.dropdown-links a:hover {
  margin-left: -0.8%;
  font-weight: 500;
  color:rgba(41, 171, 226, 1)
}

.logout-container {
  border: none;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
