@media(max-width:770px) {
    .h1_div h1 {
        font-size: 32px !important;
    }

    .right-side-content {
        width: 100vw;
        padding: 64px 64px 80px 64px !important;
    }

    footer {
        margin-bottom: 40px !important;
    }

}

@media(max-width:650px) {
    .right-side-content {
        width: 100vw;
        padding: 40px 24px 80px 24px !important;
    }

    footer {
        margin-bottom: 56px !important;
    }

}