@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf');
}

@media(max-width:770px) {
  .h1_div h1 {
    font-size: 32px !important;
  }

  .right-side-content {
    width: 100vw;
    padding: 64px 64px 80px 64px !important;
  }

  .right-side-content p a {
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  footer {
    margin-bottom: 40px !important;
  }

}

@media(max-width:620px) {
  .right-side-content {
    width: 100vw;
    padding: 40px 24px 80px 24px !important;
  }
}